<!DOCTYPE html>
<html>
<head>

  <title>HappyBirthdayToBrent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">/*I don't know why this section is written here, just follow example http://twitter.github.com/bootstrap/examples/fluid.html source code. You can modify if needed.*/
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    p {
    	color: #666;
    }
    small a{
    	color: #999;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
      </div><!--/span-->

  	  <div class="span6">
  			<%= yield %>
		    <footer>
		      <p><small>by <%= link_to 'ChiaChia', 'https://www.facebook.com/chiachialee', :target => :blank %> 2012</small></p>
		    </footer>
	  	</div><!--/span-->
	  	<div class="span3">
      </div><!--/span-->
		</div><!--/row-->
  </div><!--/.fluid-container-->
  <%= yield :more_javascript %>
</body>
</html>
